<div class="form-group">
	<%= form_for([@window, @window.comments.build], :html => {:role => "form"}, remote: true) do |f| %>
			<%= render "/shared/error_messages", object: f.object %>

			<%= f.label(:body, "Comment:") %>
			<%= f.text_area :body, class: "form-control", rows: "4", id:"win-com-box" %>
			<br>
			<%= f.submit "Post Comment", class: "form-control btn btn-primary" %>
	<% end %>
</div>