<% provide(:title, "All Windows") %>

<% if !user_signed_in? %>

<div class="jumbotron text-center">
	<h1>Welcome to the Windows App!</h1>
	<p>Share all your favorite store windows!</p>
</div>

<% end %>

<div class="container">
	<div class="row">
		<% @windows.each do |window| %>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
				<%= image_tag window.image.url(:medium)%>
				</div>
				<div class="panel-footer">
					<%= window.get_likes.size %> 
					<%= link_to content_tag(:span), like_window_path(window), method: :put, class: "glyphicon glyphicon-arrow-up" %>
					<%= link_to content_tag(:span), dislike_window_path(window), method: :put, class: "glyphicon glyphicon-arrow-down" %>
					<%= (link_to window.store_name + " | #{window.location}", window)%>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>