<% provide(:title, "All Windows") %>

<% if !user_signed_in? %>

<div class="jumbotron text-center">
	<h1>Welcome to the Windows App!</h1>
	<p>Share all your favorite store windows!</p>
</div>

<% end %>

<div class="container">
	<div class="row">
		<% @windows.each do |window| %>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
				<%= image_tag window.image.url(:medium)%>
				</div>
				<div class="panel-footer">
					<h3><%= window.get_likes.size %> <%= (link_to window.store_name + " | #{window.location}", window)%></h3>
				</div>
				<div class="panel-footer">
				<%= link_to "Upvote", like_window_path(window), method: :put %>
				<%= link_to "Downvote", dislike_window_path(window), method: :put %>
			</div>
			</div>
		</div>
		<% end %>
	</div>
</div>