
<% provide(:title, @window.store_name ) %>

<div class="container">
	<div class="row col-md-7">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= image_tag @window.image.url(:large)%>
			</div>
			<div class="panel-footer">
				<h3><%= "Store: #{@window.store_name} | Location:#{@window.location}" %></h3>
				<% if @window.user == current_user %>
				<%= link_to "Delete", @window, method: :delete, 
													data: {cofirm: "Are you sure?"} %>
				<%= link_to "Edit", edit_window_path %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row col-md-7">
		<h4>User Comments</h4>
		<%= render partial: '/windows/comment', collection: @window.comments %>
	</div>

	<div class="row col-md-7">
		<h4>Add a comment:</h4>
		<%= render partial: '/comments/form' %>
	</div>
</div>