<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
</head>
<body>
<%= render "shared/nav" %>
<div class="container">
	<% flash.each do |type, msg| %>
			<div class="alert alert-<%= type %>"> <%= msg %> </div>
	<% end %>
	
	<%= yield %>
</div>
</body>
</html>
